.translationBar{
  background-color: red;
  color: "[theme:white, default:white]";

  .loadingButton {
    line-height: 40px;
    padding-left: 16px;
  }
  .actionButton, .actionButton:hover {
    margin-left: 8px;
    color: "[theme:white, default:white]";
    i {
      color: "[theme:white, default:white]";
    }
  }
  .dialogTitle{
    font-size: 22px;
  }
}


